In [48]:
import numpy as np
import pandas as pd
import pickle
from tabula import read_pdf
import math

In [8]:
#This option is to prevent pandas from truncating columns that are strings.
#Old versions of pandas may need -1 instead of None
pd.set_option('display.max_colwidth', None)

six_months = pd.Timedelta(180,"days")

In [56]:
#This cell loads in all the data.
#The cleaned data is stored later, so this doesn't need to be rerun unless we're improving the data.


#This excel file contains data on each work stoppage.
#Industry is by 2017 NAICS code. 
#This data is from 1988 to 2020.
#We changed the xlsx file to a xls file because of compatibility issues with pandas reading a xlsx file with xlrd.
#This file is originally from https://www.bls.gov/web/wkstp/monthly-listing.xlsx
work_stoppage_df = pd.read_excel(".\WorkStoppage\work_stop_monthly.xls", 
    header=1, skipfooter=6, dtype={"Industry code[1]":int}   )
#There is an entry or two with the states list empty, we replace the NaN value with an empty string.
work_stoppage_df.fillna("", inplace=True)

#This text file contains a table with info about each industry type.
#We use it to convert the NAICS industry code of work_stoppage_df to the industry code used 
#in the Current Employment Statistics files. This doesn't give a perfect match up,
#so we have to match many of the entries by hand.
#This file is originally from https://download.bls.gov/pub/time.series/ce/ce.industry
industry_lookup_df = pd.read_csv(".\CurrentEmploymentStats\ce.industry", sep="\t")

#This text file contains info about each series_id.
#We use it to turn a BLS industry code into a Current Employment Statistic series_id.
#This file is orginally from https://download.bls.gov/pub/time.series/ce/ce.series
current_employment_series_df = pd.read_csv(".\CurrentEmploymentStats\ce.series.txt", sep="\t", header=0,
    names=['series_id', 'supersector_code', 'industry_code',
       'data_type_code', 'seasonal', 'series_title', 'footnote_codes',
       'begin_year', 'begin_period', 'end_year', 'end_period'],
     converters={'series_id':str.strip} )
#The header=0 and names is to fix some white space issues with the column names.
#The converter is to fix white space issues with the series_id values.
#We restrict this data set to only the rows for average weekly earnings of all employees, 
#which is data_type_code 11, and we use the seasonally adjusted data (seasonally adjusted 
#is good for comparing monthly data, whereas unadjusted is good for comparing yearly data).
#Depending on what we do, we might want to switch to seasonable data or even use both.
#Non-adjusted is 'U' instead of 'S'
current_employment_series_df = current_employment_series_df[
    (current_employment_series_df["data_type_code"]==11)
    &(current_employment_series_df["seasonal"]=='S')]

#This text file contains the value for the each Current Employment Statistic.
#This data set is from 1939 to 2021, but not for all series. It is very spotty.
#This file is originally from https://download.bls.gov/pub/time.series/ce/ce.data.0.AllCESSeries
current_employment_statistic_df = pd.read_csv(".\CurrentEmploymentStats\ce.data.0.AllCESSeries", 
    sep="\t", header=0, 
    names=['series_id', 'year', 'period', 'value','footnote_codes'],
    converters={'series_id':str.strip} )
#The header=0 and names is to fix some white space issues with the column names.
#The converter is to fix white space issues with the series_id values.



#The datasets oe.data.0.Current and oe.data.1.AllData are only for 2020, so we can't use them for much.
#occupation_employment_df = pd.read_csv(".\OccEmployment\oe.data.0.Current", sep="\s+")
#occupation_employment_df1 = pd.read_csv(".\OccEmployment\oe.data.1.AllData", sep="\s+")





#Below are some data frames for state level data. They're not currently in use, because of
#of problems with matching up the data with the work stoppage data. It's something to
#be bone later. Maybe this should pull from sm instead of sa.


#This text file is for states_metro_employment_series. It has information about the
#series in the entries of sa.data.0.Current. Unfortunately, the industry data is all 
#over the place with this data set. Using this might require a lot of data matching done by hand,
#it doesn't even look like we can easily pull average wage data for an entire state.
state_series_df = pd.read_csv(".\sa.series", delim_whitespace=True,
    names= ['series_id', 'state_code', 'area_code', 'industry_code', 'detail_code',
       'data_type_code', 'seasonal', 'benchmark_year', 'begin_year',
       'begin_period', 'end_year', 'end_period'],
      header=None, skiprows=1, index_col=False )              
#We restrict to data_type_code 4, which  is Average Weekly Earnings In Dollars    
state_series_df = state_series_df[ (state_series_df["data_type_code"]==4) ]


#This text file contains the actual data for a given series.
states_metro_employment_stats = pd.read_csv(".\StateMetroEmployment\sa.data.0.Current", sep="\s+")
#This uses SIC code for industry, or so they say. It doesn't look to match the actual SIC codes.
#This isn't currently in use, because of matching the data with the work stoppage data.

In [17]:
#This is a bunch of hand matched codes based on the cell below.
#This was matched based on the values in 2-6 digit_2017_Codes.xlsx
#and ce.industry.
naics_to_ce_industry = {
92:90922920,
923:60541612,
3152:32315280,
21221:10212200,
22121:44221200,
22131:None,
23731:20237300,
31212:32329140,
31523:32315280,
32721:31327200,
33341:31333400,
33421:None,
33441:31334400,
33451:None,
33612:None,
33621:31336200,
33641:31336400,
33651:31336900,
48521:43485500,
48831:43488390,
48849:43488400,
49211:43492100,
51711:50517000,
61111:65611100,
61121:65611200,
61131:65611300,
62111:65621100,
62210:65622100,
62211:65622100,
62311:65623100,
71111:70711190,
92211:None,
92214:None,
92313:None,
211111:10211000,
212112:10212113,
212230:10212200,
212231:10212200,
212234:10212200,
221110:44221110,
221210:44221200,
236000:20236000,
236200:20236200,
236220:20236220,
237310:20237300,
237990:20237000,
238140:20238140,
238160:20238160,
238210:20238210,
238220:20238220,
238320:20238320,
238350:20238350,
238910:20238910,
311313:None,
311320:None,
311812:32311813,
313312:32313000,
315299:32315280,
325180:32325180,
325221:32325211,
325222:32325211,
326199:32326190,
326210:32326210,
326211:32326210,
331110:31331100,
331111:31331100,
331310:31331300,
331312:31331300,
331513:31331510,
332112:31331400,
332913:32326120,
332992:31332994,
333111:None,
333611:31333600,
333618:None,
333921:None,
333996:None,
334290:31334200,
334612:None,
335222:31335200,
335224:31335200,
335931:31335930,
336120:31336100,
336212:31336214,
336300:31336300,
336321:31336320,
336322:31336320,
336330:31336330,
336350:31336350,
336360:31336360,
336410:31336400,
336414:31336419,
336510:31336900,
336900:None,
336992:None,
424410:41424410,
441110:42441110,
445110:42445110,
481111:43481100,
482111:None,
484210:43484210,
485110:43485500,
485111:43485500,
485112:43482000,
485113:43485500,
485310:43485310,
485991:43485900,
488190:43488100,
488310:43488390,
488320:43488320,
488330:43488390,
488490:43488400,
512110:50512110,
517110:50517000,
524114:55524110,
561612:60561613,
561720:60561720,
561920:60561920,
562111:60562100,
562219:60562219,
611110:65611100,
611111:65611100,
611210:65611200,
611310:65611300,
621610:65611610,
622110:65622100,
622210:65622200,
624110:65624110,
624410:65624400,
721110:70721110,
721120:70721120,
722510:70722500,
921100:None,
921110:None,
921111:None,
921190:None}

In [57]:
#This cell goes through the work stoppage data frame and tries to match it up with the CE data
#The data is written to a pickle file, so this does not need to be rerun, unless we're 
#improving the data.

#For each work stoppage:
#    Get the BLS industry code from the work stoppage NAICS code. 
#        This usually fails, so we record the NAICS codes we still need to match.
#    Get the relevant CES series id from the BLS industry code. 
#        This fails some of the time, but I don't think there's anyhing to be done
#        about it. The data just isn't there.
#    If there is data for the CES series that is from before the work stoppage (at least six months), then
#        we record the series id. This we can use to look up whatever data we want.
#        Since this data is at the national level, we don't bother separating by state.
#    The initial run keeps track of the NAICS codes that weren't matched at all and then these
#        are matched later by hand. So on the second run, everything is matched that can be matched.
#        The matches are stored in the dictionary naics_to_ce_industry.


rows_to_add = []
naics_codes_to_match = []
for index, row in work_stoppage_df.iterrows():
    naics_code = row["Industry code[1]"]
    start_date = row["Work stoppage beginning date"]  
    end_date = row["Work stoppage ending date"]  

    industry_code = industry_lookup_df[ str(naics_code)==industry_lookup_df["naics_code"] ]["industry_code"] 
    if len(industry_code)!=0:#Did we get an industry code for free?
        industry_code = industry_code.iloc[0]
    else:#Do we have a match done by hand?
        industry_code = naics_to_ce_industry[naics_code]
    
    
    if not industry_code is None:
        series_id = current_employment_series_df[ 
            current_employment_series_df["industry_code"]==industry_code]["series_id"]
        if len(series_id)==0:
            print("No series data available for this industry code.")
        elif len(series_id)>1:
            print("Multiple series data available for this industry code. Weird.")
        else:
            series_id = series_id.iloc[0]
            wage_data = current_employment_statistic_df[
                current_employment_statistic_df["series_id"]==series_id]
 
            #Is there data from six months before the work stoppage began?
            #We can change this to a different time frame, if we want.
            ce_year = int(min(wage_data["year"]))
            ce_month = int(min(wage_data[wage_data["year"]==ce_year]["period"])[1:])
            ce_date = pd.Timestamp(year=ce_year,month=ce_month,day=1)
            six_months_earlier = start_date-six_months
    
            #do we got data?
            if six_months_earlier >= ce_date:
                print("We have some data to use!")
                organization = row['Organizations involved']                    
                areas = row['Areas']
                ownership = row['Ownership']
                states = row["States"].split(",")
                rows_to_add.append([organization, states,  areas, ownership, naics_code, 
                    start_date, end_date, series_id] )
            else:
                print("No data is available before the work stoppage.")
    else:
        #Load these into a dictionary and try to match by hand.
        print(f"Here's a NAICS code we should try to match:{naics_code}")
        naics_codes_to_match.append(naics_code)
                
clean_national_data = pd.DataFrame( data=rows_to_add,
    columns=["organization", "states", "areas", "ownership", 
        "naics industry code", "start date", "end date", "series_id"] )

clean_national_data.to_pickle(".\\Cleaned\\clean_national_data.pkl")

No series data available for this industry code.
No data is available before the work stoppage.
No data is available before the work stoppage.
No series data available for this industry code.
No data is available before the work stoppage.
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.
No data is available before the work stoppage.
No series data available for this industry code.
No data is available before the work stoppage.
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.
No data is available before the work stoppage.
No data is available before the work stoppage.
No series data available for this industry code.
No data is available before the work stoppage.
No data is available before the work stoppage.
No series data available for this industry code.
No data is available before the work stoppage.
No series data available for this industry code.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
Here's a NAICS code we should try to match:22131
No series data available for this industry code.
No series data available for this industry code.
No data is available before the work stoppage.
No data is available before the work stoppage.
No series data available for this industry code.
No data is available before the work stoppage.
No series data available for this industry code.
No data is available before the work stoppage.
Here's a NAICS code we should try to match:333111
No series data available for this industry code.
No data is available before the work stoppage.
No data is available before the work stoppage.
No series data available for this industry code.
No series data available for this industry code.
No data is available before the work stoppage.
No series data available for this industry code.
No series data available for this industry code.
No data is available before the work stoppage.
No data is available before the work stoppage.
No series data available for this industry code.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
Here's a NAICS code we should try to match:482111
No series data available for this industry code.
No data is available before the work stoppage.
No data is available before the work stoppage.
Here's a NAICS code we should try to match:333111
No data is available before the work stoppage.
Here's a NAICS code we should try to match:482111
No data is available before the work stoppage.
Here's a NAICS code we should try to match:336992
No series data available for this industry code.
No series data available for this industry code.
Here's a NAICS code we should try to match:482111
No series data available for this industry code.
No series data available for this industry code.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No series data available for this industry code.
No series data available for this industry code.
No data is available before the work stoppage.
No series data available for this industry code.
No data is available before the work stoppage.
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.
No data is available before the work stoppage.
No data is available before the work stoppage.
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.
No data is available before the work stoppage.
No data is available before the work stoppage.
No series data available for this industry code.
No data is available before the work stoppage.
No series data available for this industry code.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No series data available for this industry code.
No series data available for this industry code.
No data is available before the work stoppage.
No series data available for this industry code.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No series data available for this industry code.
Here's a NAICS code we should try to match:482111
No data is available before the work stoppage.
No series data available for this industry code.
No series data available for this industry code.
No data is available before the work stoppage.
No data is available before the work stoppage.
No series data available for this industry code.
No data is available before the work stoppage.
No data is available before the work stoppage.
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.
No data is available before the work stoppage.
No series data available for this industry code.
No data is available before the work stoppage.
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No series data available for this industry code.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No series data available for this industry code.
No data is available before the work stoppage.
No series data available for this industry code.
No series data available for this industry code.
No data is available before the work stoppage.
No series data available for this industry code.
No series data available for this industry code.
No data is available before the work stoppage.
No series data available for this industry code.
No series data available for this industry code.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No series data available for this industry code.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No series data available for this industry code.
No series data available for this industry code.
No data is available before the work stoppage.
No series data available for this industry code.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No series data available for this industry code.
No series data available for this industry code.
No data is available before the work stoppage.
No data is available before the work stoppage.
No series data available for this industry code.
No data is available before the work stoppage.
Here's a NAICS code we should try to match:333996
Here's a NAICS code we should try to match:92313
No series data available for this industry code.
No data is available before the work stoppage.
No series data available for this industry code.

No data is available before the work stoppage.
No data is available before the work stoppage.
Here's a NAICS code we should try to match:33451
No series data available for this industry code.
No data is available before the work stoppage.
No series data available for this industry code.
No data is available before the work stoppage.
No data is available before the work stoppage.
Here's a NAICS code we should try to match:33612
No data is available before the work stoppage.
No data is available before the work stoppage.
No series data available for this industry code.
No data is available before the work stoppage.
No data is available before the work stoppage.
Here's a NAICS code we should try to match:333618
Here's a NAICS code we should try to match:33421
No series data available for this industry code.
No data is available before the work stoppage.
No series data available for this industry code.
Here's a NAICS code we should try to match:482111
No data is available before the work stoppage.
No data is available before the work stoppage.
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.
No data is available before the work stoppage.
No series data available for this industry code.
No series data available for this industry code.
No data is available before the work stoppage.
No data is available before the work stoppage.
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.
No data is available before the work stoppage.
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.
No data is available before the work stoppage.
No series data available for this industry code.
No data is available before the work stoppage.
No series data available for this industry code.
No series data available for this industry code.
No data is available before the work stoppage.
No series data available for this industry code.
No series data available for this industry code.
No data is available before the work stoppage.
No series data available for this industry code.
No data is available before the work stoppage.
No series data available for this industry code.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No series data available for this industry code.
No data is available before the work stoppage.
No series data available for this industry code.
No data is available before the work stoppage.
No data is available before the work stoppage.
No series data available for this industry code.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
Here's a NAICS code we should try to match:92214
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No series data available for this industry code.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No series data available for this industry code.
No series data available for this industry code.
No data is available before the work stoppage.
No data is available before the work stoppage.
No series data available for this industry code.
No data is available before the work stoppage.
No data is available before the work stoppage.
No series data available for this industry code.
No data is available before the work stoppage.
No series data available for this industry code.
No series data available for this industry code.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No series data available for this industry code.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.
No data is available before the work stoppage.
No series data available for this industry code.
No data is available before the work stoppage.
No data is available before the work stoppage.
Here's a NAICS code we should try to match:311320
No data is available before the work stoppage.
No data is available before the work stoppage.
No series data available for this industry code.
No series data available for this industry code.
No data is available before the work stoppage.
Here's a NAICS code we should try to match:92211
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No series data available for this industry code.
No data is available before the work stoppage.
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.
No data is available before the work stoppage.
Here's a NAICS code we should try to match:334612
No series data available for this industry code.
No series data available for this industry code.
No data is available before the work stoppage.
No series data available for this industry code.
No data is available before the work stoppage.
Here's a NAICS code we should try to match:921190
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.
No data is available before the work stoppage.
No data is available before the work stoppage.
No series data available for this industry code.
No data is available before the work stoppage.
No series data available for this industry code.
No data is available before the work stoppage.
No series data available for this industry code.
No data is available before the work stoppage.
No data is available before the work stoppage.
No series data available for this industry code.
No series data available for this industry code.
No data is available before the work stoppage.
No data is available before the work stoppage.
No series data available for this industry code.
No data is available before the work stoppage.
No data is available before the work stoppage.
No series data available for this industry code.
Here's a NAICS code we should try to match:333921

No data is available before the work stoppage.
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No series data available for this industry code.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No series data available for this industry code.
No data is available before the work stoppage.
No series data available for this industry code.
No data is available before the work stoppage.
No series data available for this industry code.
No data is available before the work stoppage.
No series data available for this industry code.
Here's a NAICS code we should try to match:921190
No series data available for this industry code.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
No data is available before the work stoppage.
Here's a NAICS code we should try to match:921100
No data is available before the work stoppage.
No series data available for this industry code.
Here's a NAICS code we should try to match:921100
No data is available before the work stoppage.
No series data available for this industry code.
Here's a NAICS code we should try to match:921100
We have some data to use!
No series data available for this industry code.
We have some data to use!
No series data available for this industry code.
Here's a NAICS code we should try to match:336900
No series data available for this industry code.
No series data available for this industry code.
We have some data to use!
No series data available for this industry code.
No series data available for this industry code.
We have some data to use!
We have some data to use!
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.
We have some data to use!
No series data available for this industry code.
We have some data to use!
No series data available for this industry code.
We have some data to use!
We have some data to use!
We have some data to use!
No series data available for this industry code.
We have some data to use!
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.
We have some data to use!
We have some data to use!
We have some data to use!
No series data available for this industry code.
We have some data to use!
We have some data to use!
No series data available for this industry code.
We have some data to use!
We have some data to use!
We have some data to use!
We have some data to use!
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.
We have some data to use!
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.
We have some data to use!
We have some data to use!
We have some data to use!
We have some data to use!
No series data available for this industry code.
We have some data to use!
We have some data to use!
We have some data to use!
We have some data to use!
We have some data to use!
No series data available for this industry code.
We have some data to use!
We have some data to use!
We have some data to use!
We have some data to use!
We have some data to use!
We have some data to use!
We have some data to use!
Here's a NAICS code we should try to match:311313
We have some data to use!
We have some data to use!
No series data available for this industry code.
We have some data to use!
We have some data to use!
No series data available for this industry code.
We have some data to use!
We have some data to use!
We have some data to use!
No series data available for this industry code.
We have some data to use!
We have some data to use!
We have some data to use!
We have some data to use!
No series data available for this industry code.
We have some data to use!
We have some data to use!
No series data available for this industry code.
We have some data to use!
We have some data to use!
We have some data to use!
We have some data to use!
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.
We have some data to use!
No series data available for this industry code.
No series data available for this industry code.
We have some data to use!
We have some data to use!
We have some data to use!
No series data available for this industry code.
Here's a NAICS code we should try to match:921110
We have some data to use!
Here's a NAICS code we should try to match:921110
No series data available for this industry code.
No series data available for this industry code.
Here's a NAICS code we should try to match:921110
We have some data to use!
We have some data to use!
We have some data to use!
No series data available for this industry code.
We have some data to use!
We have some data to use!
We have some data to use!
No series data available for this industry code.
No series data available for this industry code.
We have some data to use!
We have some data to use!
We have some data to use!
We have some data to use!
We have some data to use!
We have some data to use!
We have some data to use!
No series data available for this industry code.
We have some data to use!
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.
Here's a NAICS code we should try to match:921110
Here's a NAICS code we should try to match:921111
No series data available for this industry code.
No series data available for this industry code.
We have some data to use!
We have some data to use!
No series data available for this industry code.
We have some data to use!
No series data available for this industry code.
We have some data to use!
We have some data to use!
We have some data to use!
Here's a NAICS code we should try to match:921100
We have some data to use!
We have some data to use!
Here's a NAICS code we should try to match:921100
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.
We have some data to use!
We have some data to use!
We have some data to use!
We have some data to use!
Here's a NAICS code we should try to match:921100
Here's a NAICS code we should try to match:921100
No series data available for this industry code.
We have some data to use!
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.
We have some data to use!
No series data available for this industry code.
We have some data to use!
We have some data to use!
We have some data to use!
We have some data to use!
We have some data to use!
We have some data to use!
No series data available for this industry code.
We have some data to use!
We have some data to use!
We have some data to use!
We have some data to use!
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.

We have some data to use!
We have some data to use!
No series data available for this industry code.
We have some data to use!
No series data available for this industry code.
No series data available for this industry code.
We have some data to use!
No series data available for this industry code.
We have some data to use!
No series data available for this industry code.
We have some data to use!
We have some data to use!
We have some data to use!
We have some data to use!
We have some data to use!
No series data available for this industry code.
No series data available for this industry code.
We have some data to use!
We have some data to use!
Here's a NAICS code we should try to match:921100
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.
No series data available for this industry code.
We have some data to use!
We have some data to use!

In [59]:
#This cell loads the clean_national_data from the pickle file
#Run this is we're just loading the data instead of loading and cleaning from scratch.
clean_national_data = pd.read_pickle(".\\Cleaned\\clean_national_data.pkl")

In [61]:
#Let's see what we can do with this data now:
display(clean_national_data.head())
print(f"There are {len(clean_national_data)} rows to consider. Let's see the first 10\n\n")
for j in range(0,10):
    row = clean_national_data.iloc[j]
    start_date = row['start date']
    series_id = row["series_id"]
    data = current_employment_statistic_df[
        (current_employment_statistic_df["series_id"]==series_id)
        &(current_employment_statistic_df["period"]!="M13")]
    #M13 is for the annual average

    six_months_earlier = start_date-six_months
    six_months_later = start_date+six_months
    annoying = lambda row : pd.Timestamp(year=int(row["year"]), month=int(row["period"][1:]),day=1)
    data = data[ (data.apply(annoying,axis=1)>=six_months_earlier)
               & (data.apply(annoying,axis=1)<=six_months_later)]

    print(f"The work stoppage at {row['organization']} started on {row['start date']} "
        + f"and ended on {row['end date']}. The associated wage data is as follows.")          
    display(data)
    print(f"\n\n")

,organization,states,areas,ownership,naics industry code,start date,end date,series_id
0,Bombardier Learjet,[KS],Wichita,Private industry,336411,2006-10-02,2006-10-23 00:00:00,CES3133641111
1,"ABM Janitorial Services, GCA Services Group, Sanitors Services of Texas, Pritchard Industries Southwest",[TX],Houston,Private industry,561720,2006-10-23,2006-11-20 00:00:00,CES6056172011
2,National Fire Sprinkler Association,[Nationwide],,Private industry,238220,2007-04-01,2007-04-16 00:00:00,CES2023822011
3,"Associated Wall and Ceiling Contractors of Oregon and Southwest Washington, Inc.","[OR, WA]",Multiple states,Private industry,236220,2007-06-01,2007-06-19 00:00:00,CES2023622011
4,National Electrical Contractors of America,[WA],Puget Sound,Private industry,238210,2007-06-01,2007-06-01 00:00:00,CES2023821011

There are 111 rows to consider. Let's see the first 10


The work stoppage at Bombardier Learjet started on 2006-10-02 00:00:00 and ended on 2006-10-23 00:00:00. The associated wage data is as follows.

            series_id  year period    value footnote_codes
884673  CES3133641111  2006    M05  1292.05            NaN
884674  CES3133641111  2006    M06  1284.65            NaN
884675  CES3133641111  2006    M07  1330.34            NaN
884676  CES3133641111  2006    M08  1350.22            NaN
884677  CES3133641111  2006    M09  1323.73            NaN
884678  CES3133641111  2006    M10  1337.55            NaN
884679  CES3133641111  2006    M11  1375.03            NaN
884680  CES3133641111  2006    M12  1394.96            NaN
884681  CES3133641111  2007    M01  1422.10            NaN
884682  CES3133641111  2007    M02  1428.85            NaN
884683  CES3133641111  2007    M03  1429.74            NaN

The work stoppage at ABM Janitorial Services, GCA Services Group, Sanitors Services of Texas, Pritchard Industries Southwest started on 2006-10-23 00:00:00 and ended on 2006-11-20 00:00:00. The associated wage data is as follows.

             series_id  year period   value footnote_codes
2941618  CES6056172011  2006    M05  341.89            NaN
2941619  CES6056172011  2006    M06  337.27            NaN
2941620  CES6056172011  2006    M07  337.84            NaN
2941621  CES6056172011  2006    M08  339.30            NaN
2941622  CES6056172011  2006    M09  342.81            NaN
2941623  CES6056172011  2006    M10  344.56            NaN
2941624  CES6056172011  2006    M11  343.04            NaN
2941625  CES6056172011  2006    M12  353.80            NaN
2941626  CES6056172011  2007    M01  346.51            NaN
2941627  CES6056172011  2007    M02  348.53            NaN
2941628  CES6056172011  2007    M03  349.74            NaN
2941629  CES6056172011  2007    M04  348.87            NaN

The work stoppage at National Fire Sprinkler Association started on 2007-04-01 00:00:00 and ended on 2007-04-16 00:00:00. The associated wage data is as follows.

            series_id  year period   value footnote_codes
302012  CES2023822011  2006    M11  836.26            NaN
302013  CES2023822011  2006    M12  838.50            NaN
302014  CES2023822011  2007    M01  844.49            NaN
302015  CES2023822011  2007    M02  847.48            NaN
302016  CES2023822011  2007    M03  850.88            NaN
302017  CES2023822011  2007    M04  856.09            NaN
302018  CES2023822011  2007    M05  864.75            NaN
302019  CES2023822011  2007    M06  871.50            NaN
302020  CES2023822011  2007    M07  871.13            NaN
302021  CES2023822011  2007    M08  879.92            NaN
302022  CES2023822011  2007    M09  884.52            NaN

The work stoppage at Associated Wall and Ceiling Contractors of Oregon and Southwest Washington, Inc. started on 2007-06-01 00:00:00 and ended on 2007-06-19 00:00:00. The associated wage data is as follows.

            series_id  year period    value footnote_codes
178794  CES2023622011  2007    M01  1026.91            NaN
178795  CES2023622011  2007    M02  1024.78            NaN
178796  CES2023622011  2007    M03  1019.46            NaN
178797  CES2023622011  2007    M04  1040.66            NaN
178798  CES2023622011  2007    M05  1041.94            NaN
178799  CES2023622011  2007    M06  1042.80            NaN
178800  CES2023622011  2007    M07  1042.08            NaN
178801  CES2023622011  2007    M08  1034.45            NaN
178802  CES2023622011  2007    M09  1037.62            NaN
178803  CES2023622011  2007    M10  1039.35            NaN
178804  CES2023622011  2007    M11  1045.67            NaN

The work stoppage at National Electrical Contractors of America started on 2007-06-01 00:00:00 and ended on 2007-06-01 00:00:00. The associated wage data is as follows.

            series_id  year period   value footnote_codes
295906  CES2023821011  2007    M01  917.67            NaN
295907  CES2023821011  2007    M02  915.92            NaN
295908  CES2023821011  2007    M03  923.93            NaN
295909  CES2023821011  2007    M04  923.93            NaN
295910  CES2023821011  2007    M05  935.04            NaN
295911  CES2023821011  2007    M06  934.14            NaN
295912  CES2023821011  2007    M07  933.07            NaN
295913  CES2023821011  2007    M08  939.55            NaN
295914  CES2023821011  2007    M09  944.12            NaN
295915  CES2023821011  2007    M10  953.67            NaN
295916  CES2023821011  2007    M11  955.20            NaN

The work stoppage at Sutter Hospitals started on 2007-10-10 00:00:00 and ended on 2007-10-12 00:00:00. The associated wage data is as follows.

             series_id  year period   value footnote_codes
3192543  CES6562210011  2007    M05  879.55            NaN
3192544  CES6562210011  2007    M06  887.80            NaN
3192545  CES6562210011  2007    M07  887.54            NaN
3192546  CES6562210011  2007    M08  894.35            NaN
3192547  CES6562210011  2007    M09  890.88            NaN
3192548  CES6562210011  2007    M10  894.80            NaN
3192549  CES6562210011  2007    M11  897.04            NaN
3192550  CES6562210011  2007    M12  904.18            NaN
3192551  CES6562210011  2008    M01  909.22            NaN
3192552  CES6562210011  2008    M02  912.80            NaN
3192553  CES6562210011  2008    M03  918.29            NaN
3192554  CES6562210011  2008    M04  915.30            NaN

The work stoppage at International Truck and Engine Corporation started on 2007-10-23 00:00:00 and ended on 2007-12-13 00:00:00. The associated wage data is as follows.

            series_id  year period    value footnote_codes
835951  CES3133610011  2007    M05  1342.38            NaN
835952  CES3133610011  2007    M06  1337.95            NaN
835953  CES3133610011  2007    M07  1333.92            NaN
835954  CES3133610011  2007    M08  1363.52            NaN
835955  CES3133610011  2007    M09  1337.74            NaN
835956  CES3133610011  2007    M10  1332.25            NaN
835957  CES3133610011  2007    M11  1334.99            NaN
835958  CES3133610011  2007    M12  1348.53            NaN
835959  CES3133610011  2008    M01  1353.50            NaN
835960  CES3133610011  2008    M02  1361.28            NaN
835961  CES3133610011  2008    M03  1371.01            NaN
835962  CES3133610011  2008    M04  1369.58            NaN

The work stoppage at Paratransit Operators Coalition started on 2007-12-10 00:00:00 and ended on 2007-12-19 00:00:00. The associated wage data is as follows.

             series_id  year period   value footnote_codes
2050863  CES4348590011  2007    M07  509.75            NaN
2050864  CES4348590011  2007    M08  511.26            NaN
2050865  CES4348590011  2007    M09  510.87            NaN
2050866  CES4348590011  2007    M10  522.03            NaN
2050867  CES4348590011  2007    M11  509.01            NaN
2050868  CES4348590011  2007    M12  491.90            NaN
2050869  CES4348590011  2008    M01  494.80            NaN
2050870  CES4348590011  2008    M02  476.10            NaN
2050871  CES4348590011  2008    M03  485.81            NaN
2050872  CES4348590011  2008    M04  479.21            NaN
2050873  CES4348590011  2008    M05  463.71            NaN
2050874  CES4348590011  2008    M06  473.62            NaN

The work stoppage at Sutter Hospitals started on 2007-12-13 00:00:00 and ended on 2007-12-14 00:00:00. The associated wage data is as follows.

             series_id  year period   value footnote_codes
3192545  CES6562210011  2007    M07  887.54            NaN
3192546  CES6562210011  2007    M08  894.35            NaN
3192547  CES6562210011  2007    M09  890.88            NaN
3192548  CES6562210011  2007    M10  894.80            NaN
3192549  CES6562210011  2007    M11  897.04            NaN
3192550  CES6562210011  2007    M12  904.18            NaN
3192551  CES6562210011  2008    M01  909.22            NaN
3192552  CES6562210011  2008    M02  912.80            NaN
3192553  CES6562210011  2008    M03  918.29            NaN
3192554  CES6562210011  2008    M04  915.30            NaN
3192555  CES6562210011  2008    M05  923.74            NaN
3192556  CES6562210011  2008    M06  921.95            NaN

The work stoppage at Volvo Trucks North America started on 2008-02-01 00:00:00 and ended on 2008-03-17 00:00:00. The associated wage data is as follows.

            series_id  year period    value footnote_codes
835955  CES3133610011  2007    M09  1337.74            NaN
835956  CES3133610011  2007    M10  1332.25            NaN
835957  CES3133610011  2007    M11  1334.99            NaN
835958  CES3133610011  2007    M12  1348.53            NaN
835959  CES3133610011  2008    M01  1353.50            NaN
835960  CES3133610011  2008    M02  1361.28            NaN
835961  CES3133610011  2008    M03  1371.01            NaN
835962  CES3133610011  2008    M04  1369.58            NaN
835963  CES3133610011  2008    M05  1336.68            NaN
835964  CES3133610011  2008    M06  1361.10            NaN
835965  CES3133610011  2008    M07  1234.27            NaN